@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  animation: fadeIn 2.5s;
}

.container {
  height: 100vh;
}

header{
  margin: 10px;
}
section {
  /* min-height: 100vh; */
  padding: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 1px 3px 15px rgb(222, 216, 216);
}

.logo {
  width: 6rem;
  height: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 3rem 0 1rem 0;
}

p {
  margin-bottom: 2rem;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  transition: all 0.2s;
}
a:hover {
  text-decoration: underline;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header > button {
  background-color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
header > button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* -----hero section-------- */
.hero .desktop-flex button {
  background-color: #ff52bf;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.hero .desktop-flex button:hover {
  background-color: rgba(255, 82, 191, 0.702);
}

/* main section */
.services {
  padding-bottom: 14rem;
  position: relative;
  /* border-bottom: 5px solid red; */
}

.services .card {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 1px 2px 15px rgb(222, 216, 216);
}

.services .card aside p {
  color: hsl(208, 11%, 55%);
}

.services .newsletter {
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  box-shadow: 1px 2px 15px rgb(44, 43, 43);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: white;
  min-width: 80%;
  /* height: 10rem; */
}

.services .newsletter h1 {
  padding-top: 0rem;
  font-size: 1rem;
  font-weight: 700;
}

.services .newsletter button {
  background-color: rgb(255, 82, 191);
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 2rem;
  width: 70%;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.services .newsletter button:hover {
  background-color: rgba(255, 82, 191, 0.7);
}

/* --------footer section-------- */

footer {
  padding: 10rem 2rem 0 2rem;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  line-height: 1.2rem;
  font-family: "Open Sans", sans-serif;
}
footer .footer-logo {
  width: 8rem;
  height: auto;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%);
}

footer .brands {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  transition: all 0.2s;
  border-radius: 50%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%);
}

footer .brands:hover {
  filter: invert(54%) sepia(38%) saturate(3142%) hue-rotate(292deg)
    brightness(97%) contrast(110%);
}

footer .footer-flex {
  padding: 0.7rem 0;
}

footer .footer-flex .items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer .footer-flex .items img {
  margin-right: 1.2rem;
}

footer .footer-flex ul li {
  margin: 1rem 0;
}

footer .footer-flex .last {
  text-align: center;
}

footer .footer-flex .ul-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* Media queries */
@media (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-mobile.svg);
  }
  .hero .desktop-flex {
    text-align: center;
  }

  .hero .desktop-flex button {
    width: 100%;
    margin-bottom: 4rem;
  }
  .services .card {
    text-align: center;
  }
}

@media (min-width: 601px) {
  header {
    margin-bottom: 1.5rem;
  }
  .container {
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* height: max-content; */
  }
  .hero .desktop-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero .desktop-flex .flex-1 {
    width: 40rem;
    padding-right: 2rem;
    margin-right: 2rem;
    min-height: 100%;
  }
  .hero .desktop-flex .flex-1 h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .hero .desktop-flex button {
    padding: 0.7rem 2rem;
  }
  .services .card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }
  .services .card > * {
    width: 45%;
  }

  .services .card aside {
    margin: 0 3rem;
  }

  .services .card2 {
    flex-direction: row;
  }
  .services {
    min-height: 75vh;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: 0.7rem;
  }
  footer .footer-logo {
    margin-left: 1rem;
  }
  footer .footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer .footer-flex > * {
    padding: 0 1rem;
    margin-right: 1rem;
  }

  footer .footer-flex .items1 {
    width: 15rem;
  }
}

@media (min-width: 1440px) {
  footer {
    font-size: 1rem;
  }
  footer .footer-logo {
    margin-left: 3.5rem;
  }
  html {
    font-size: 20px;
  }
  .container {
    min-height: 100vh;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
